<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/skeleton.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/academicons/css/academicons.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/page.css" | prepend: site.baseurl }}">
  <script src="{{ "/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/js/menu-responsive.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/js/navigation-bar.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F7R59PF69N"></script>
  <script src="{{ "/js/google-analytics.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script type="text/javascript">
    window.onload = function() {
      var text = document.querySelector(".post-content").innerText;
      var minSpan = document.querySelector("#min-read");
      minSpan.innerHTML = minRead(text);
    }

    function minRead(text) {
      var words = text.split(" ").length;
      var min = Math.floor(words / 200);
      return min === 0 ? 1 : min;
    }
  </script>

</head>
