<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.t[page.lang].description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/skeleton.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/academicons/css/academicons.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="alternate" href="http://herminiogarcia.com" hreflang="en" />
  <link rel="alternate" href="http://herminiogarcia.com/es" hreflang="es" />
  <script src="{{ "/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/js/navigation-bar.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/js/menu-responsive.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/js/smooth-scroll.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F7R59PF69N"></script>
  <script src="{{ "/js/google-analytics.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "email": "mailto:herminiogg@outlook.com",
      "image": "http://herminiogarcia.com/images/profile-image.png",
      "name": "Herminio García González",
      "url": "http://herminiogarcia.com",
      "jobTitle": "PhD Student",
      "memberOf": {
        "@type": "Organization",
        "name": "University of Oviedo",
        "url": "http://www.uniovi.es"
      },
      "alumniOf": {
        "@type": "Organization",
        "name": "University of Oviedo",
        "url": "http://www.uniovi.es"
      },
      "sameAs": [
        "https://twitter.com/herminio_gg",
        "https://es.linkedin.com/in/herminio-garc%C3%ADa-gonz%C3%A1lez-83aa2678",
        "https://github.com/herminiogg",
        "https://plus.google.com/+HerminioGarc%C3%ADaGonz%C3%A1lez"
      ]
    }
    </script>

</head>
