body {
  font-family: $base-font-family;
}

p {
  margin-bottom: 20px;
}

h1 {
  font-family: $title-font-style;
  padding-left: 20px;
  font-weight: 900;
  font-style: italic;
  color: white;
}

h1 a {
  text-decoration: none;
  color: white;
}

h1 a:hover {
  color: white;
}

h2, h3 {
  font-family: $title-font-style;
  font-weight: 700;
  font-style: normal;
  color: #CA6E45;
}


.site-header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.persistent-nav {
  background-color: #CA6E45;
}

nav {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

nav a, nav div i, nav div a {
  margin-top: 40px;
  padding-left: 15px;
  text-decoration: none;
  color: white;
  font-family: $link-font-family;
  font-size: 16px;
  font-weight: 800;
}

nav .languages {
  padding-left: 30px;
}

nav .languages i {
  padding-top: 5px;
}

nav a:hover {
  color: #fcdc9c;
}

header div div {
  display: flex;
  justify-content: space-between;
}

.site-header .wrapper .row nav a:visited {
  color: $grey-color;
}


.post-head {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/road-sunset.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;

  height: 250px;
  width: 100% !important;
  display: table;
}

.post-head h2 {
  display: table-cell;
  vertical-align: bottom;
  padding-top: 150px;
  padding-bottom: 50px;
  color: white;
  width: 100%;
  text-align: center;
}

.content, .post {
  padding-top: 20px;
  margin-bottom: 20px;
}

.post-header p {
  font-style: italic;
  color: #a0a0a0;
}

.post-related li {
  float: left;
  list-style-type: none;
}

.post-related li:nth-child(even) {
  padding-left: 10px;
}

.post-related li:nth-child(odd) {
  padding-right: 10px;
}

.post-content {
  padding-top: 10px;
  clear: both;
}

.post-content img {
  display: block;
  margin: 0 auto;
}

.post-header p {
  margin: 0;
}

footer {
  color: white;
  background-color: #CA6E45;
}

footer .container {
  text-align: center;
  display: table;
  height: 100px;
}

footer p {
  display: table-cell;
  vertical-align: middle;
}

#menu-icon {
  display: none;
  color: white;
}

.references {
  margin-bottom: 4rem;
}

.reference {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.reference .mainInformation {
  display: flex;
  flex-direction: column;
}

.reference .mainInformation span {
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reference .mainInformation .title {
  color: #CA6E45;
  font-weight: bold;
}

.reference .mainInformation .authors {
  font-size: 1.3rem;
  font-weight: lighter;
}

.reference .mainInformation .venue {
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
}

.reference .otherInformation {
  display: flex;
  justify-content: space-between;
}

.reference .otherInformation .typeOfVenue .typeOfVenueTitle {
  padding: 4px;
  color: white;
  font-size: 1.1rem;
  box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
  border-radius: 4px;
}

.reference .otherInformation .typeOfVenue .conference {
  background-color: #32d97d;
}

.reference .otherInformation .typeOfVenue .journal {
  background-color: #4681e0;
}

.reference .otherInformation .typeOfVenue .bookChapter {
  background-color: #de3b26;
}

.reference .otherInformation .typeOfVenue .award {
  background-color: #c000fa;
}

.reference .otherInformation .links a {
  color: inherit;
  font-size: 1rem;
}

.reference .otherInformation .links a {
  margin-left: 0.5rem;
}

.reference .otherInformation .links a:hover {
  color: #CA6E45;
}

/* For responsive menu */
@media (max-width: 1200px) {
  nav a {
    display: block;
    margin-top: 30px;
    padding-left: 0px;
    margin-bottom: 10px;
  }

  nav {
    text-align: center;
    width: 100%;
    margin-top: 100px;
    display: none;
    flex-direction: column;
  }

  nav .languages {
    padding-left: 0px;
    padding-right: 10px;
    display: flex;
    justify-content: space-evenly;
  }

  #menu-icon {
    display: block;
    padding: 25px;
  }

}
