---
layout: default
---

<div class="home">
  <div class="main-view">
    <div class="profile-image">
      <img src="{{ "/images/profile-image.jpg" | prepend: site.baseurl }}" alt="Profile image">
    </div>
    <div>
      <h2>{{site.t[page.lang].name}}</h2>
      <h3>{{site.t[page.lang].description}}</h3>
    </div>
  </div>
  <div class="social-links">
    <div class=""><a href="https://www.researchgate.net/profile/Herminio_Garcia-Gonzalez"><i class="ai ai-researchgate ai-2x"></i></a></div>
    <div class=""><a href="https://dblp.uni-trier.de/pers/hd/g/Garc=iacute=a=Gonz=aacute=lez:Herminio"><i class="ai ai-dblp ai-2x"></i></div>
    <div class="first-down"><a href="{{site.t[page.lang].who-am-i-url}}"><i class="fa fa-angle-down"></i></a></div>
    <div class=""><a href="https://github.com/herminiogg"><i class="fa fa-github fa-2x"></i></a></div>
    <div class=""><a href="mailto:herminio@herminiogarcia.com"><i class="fa fa-envelope fa-2x"></i></a></div>
  </div>
</div>
<div id="{{site.t[page.lang].who-am-i-section}}" class="content-block">
  <div class="wrapper container">
    <div class="content">
      <h2>{{site.t[page.lang].who-am-i}}</h2>
      <p>
        {{site.t[page.lang].who-am-i-text}}
      </p>
      <a class="button u-full-width" href="mailto:herminio@herminiogarcia.com"><i class="fa fa-envelope"></i> {{site.t[page.lang].contact-me}}</a>
    </div>
    <div class="down"><a href="{{site.t[page.lang].projects-url}}"><i class="fa fa-angle-down"></i></a></div>
  </div>
</div>
  <div id="{{site.t[page.lang].projects-section}}" class="content-block">
    <div class="wrapper container">
      <div class="content">
        <h2>{{site.t[page.lang].projects}}</h2>
        <p>
          {{site.t[page.lang].projects-text}}
        </p>
        <div class="row">
          <!--<a class="button one-half column" href="https://es.linkedin.com/in/herminio-garc%C3%ADa-gonz%C3%A1lez-83aa2678"><i class="fa fa-linkedin-square"></i> {{site.t[page.lang].linkedin}}</a>-->
          <a class="button column" href="https://github.com/herminiogg"><i class="fa fa-github"></i> {{site.t[page.lang].github}}</a>
        </div>
      </div>
      <div class="down"><a href="{{site.t[page.lang].hobbies-url}}"><i class="fa fa-angle-down"></i></a></div>
    </div>
  </div>
  <div id="{{site.t[page.lang].hobbies-section}}" class="content-block">
    <div class="wrapper container">
      <div class="content">
        <h2>{{site.t[page.lang].photography}}</h2>
        <p>
          {{site.t[page.lang].photography-text}}
        </p>
        <a href="https://www.flickr.com/photos/130598747@N08/"><img src="{{ "/images/ciudad_artes_valencia.jpg" | prepend: site.baseurl }}" alt="Valencia Photo" /></a>
        <a class="button u-full-width" href="https://www.flickr.com/photos/130598747@N08/"><i class="fa fa-flickr"></i> {{site.t[page.lang].flickr}}</a>
      </div>
      <div class="down"><a href="#footer"><i class="fa fa-angle-down"></i></a></div>
    </div>
  </div>
</div>
